pipeline/PL_Copy_activity_using_watermark_Parameter.json
{
	"name": "PL_Copy_activity_using_watermark_Parameter",
	"properties": {
		"activities": [
			{
				"name": "ForEach Table",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.TableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data using query",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "get_NEWWM",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "get_OLDWM",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column}  > '@{activity('get_OLDWM').output.firstRow.OLDWM}' and @{item().WaterMark_Column}  <= '@{activity('get_NEWWM').output.firstRow.NEWWM}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "Serializable",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": {
											"value": "@item().MERGE_KEY",
											"type": "Expression"
										}
									},
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_onprem_ss",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_azure_cloud_ss_parameter",
									"type": "DatasetReference",
									"parameters": {
										"SINK_TABLE_NAME": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "get_OLDWM",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select WatermarkValue as OLDWM from watermarktable where TableName = '@{item().TABLE_NAME}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_azure_cloud_ss_parameter",
									"type": "DatasetReference",
									"parameters": {
										"SINK_TABLE_NAME": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "get_NEWWM",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select max(@{item().WaterMark_Column}) as NEWWM from @{item().TABLE_NAME}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_onprem_ss",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "SP_WM_Update",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data using query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark]",
								"storedProcedureParameters": {
									"LastModifiedtime": {
										"value": {
											"value": "@{activity('get_NEWWM').output.firstRow.NEWWM}",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"TableName": {
										"value": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_TGT_Cloud_Sqlserver",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableList": {
				"type": "array",
				"defaultValue": [
					{
						"TABLE_NAME": "CATEGORIES",
						"WaterMark_Column": "updated_at",
						"MERGE_KEY": [
							"category_id"
						]
					},
					{
						"TABLE_NAME": "CUSTOMERS",
						"WaterMark_Column": "updated_at",
						"MERGE_KEY": [
							"customer_id"
						]
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-06T18:26:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}