pipeline/PL_Copy_activity_using_watermark.json
{
	"name": "PL_Copy_activity_using_watermark",
	"properties": {
		"activities": [
			{
				"name": "Copy data using query",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_OLDWM",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get_NEWWM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from Customers where updated_at > '@{activity('get_OLDWM').output.firstRow.OLDWM}' and updated_at <= '@{activity('get_NEWWM').output.firstRow.NEWWM}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"customer_id"
							]
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_onprem_ss",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_azure_cloud_ss",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "get_OLDWM",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select WatermarkValue from watermarktable where TableName = 'CUSTOMERS'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_azure_cloud_ss",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get_NEWWM",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_onprem_ss",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP_WM_Update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data using query",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@activity('get_NEWWM').output.firstRow.NEWWM",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"TableName": {
							"value": "CUSTOMERS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_TGT_Cloud_Sqlserver",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-02-13T08:03:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}