pipeline/PL_Data_ingestion_from_Azure_BLOB.json
{
	"name": "PL_Data_ingestion_from_Azure_BLOB",
	"properties": {
		"activities": [
			{
				"name": "Validation of the container",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_BLOB_Storage_2402",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10,
					"childItems": true
				}
			},
			{
				"name": "Get Metadata validation",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validation of the container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_getMetadata_2402",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Get Metadata validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_2_getmeta_data_validate",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@activity('Get Metadata validation').output.itemName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"size": {
				"type": "Integer"
			},
			"name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}