pipeline/PL_KEYVAULT.json
{
	"name": "PL_KEYVAULT",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://@{pipeline().parameters.p_keyvault_name}.vault.azure.net/secrets/@{pipeline().parameters.p_secret_info}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_value",
					"value": {
						"value": "@activity('Web1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_keyvault_name": {
				"type": "string",
				"defaultValue": "srinikeyvault"
			},
			"p_secret_info": {
				"type": "string",
				"defaultValue": "adfdemo-secrets/35862fd3ae8e4177b0b2696a38ab720b?api-version=7.0"
			}
		},
		"variables": {
			"var_value": {
				"type": "String",
				"defaultValue": "123456"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-12T19:19:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}