pipeline/PL_Miini_project.json
{
	"name": "PL_Miini_project",
	"properties": {
		"activities": [
			{
				"name": "LK_Metada_mimi",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from METADATA",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDBA_mini",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LK_Metada_mimi",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_Metada_mimi').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metada",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_metadata_exists",
									"type": "DatasetReference",
									"parameters": {
										"SCHEMA_NAME": {
											"value": "@item().SCHEMANAME",
											"type": "Expression"
										},
										"TABLE_NAME": {
											"value": "@item().TABLENAME",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								]
							}
						},
						{
							"name": "If Condition exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metada",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metada').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 2
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data from SRC to TGT",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "PreserveHierarchy"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_metadata_exists",
												"type": "DatasetReference",
												"parameters": {
													"SCHEMA_NAME": {
														"value": "@item().SCHEMANAME",
														"type": "Expression"
													},
													"TABLE_NAME": {
														"value": "@item().TABLENAME",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Tatget_mimi",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Stored procedure Success",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data from SRC to TGT",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[PIPELINE_LOG_USP]",
											"storedProcedureParameters": {
												"COPYACTIVITY_END_TIME": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').ExecutionEndTime ",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"COPYACTIVITY_START_TIME": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').ExecutionStartTime ",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"COPYDURATION_IN_SECS": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.copyDuration",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"DATAFACTORY_NAME": {
													"value": {
														"value": "@pipeline().DataFactory ",
														"type": "Expression"
													},
													"type": "String"
												},
												"DESTINATION": {
													"value": {
														"value": "@item().blobcontainer ",
														"type": "Expression"
													},
													"type": "String"
												},
												"EFFECTIVEINTERGATIONRUNTIME": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.effectiveIntegrationRuntime ",
														"type": "Expression"
													},
													"type": "String"
												},
												"ERROR_MESSAGE": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').error ",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXECUTION_STATUS": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').status ",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXECUTION_STATUS_CODE": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').statuscode",
														"type": "Expression"
													},
													"type": "String"
												},
												"NO_PARALLELCOPIES": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.usedParallelCopies ",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"PIPELINENAME": {
													"value": {
														"value": "@pipeline().Pipeline ",
														"type": "Expression"
													},
													"type": "String"
												},
												"ROWSCOPIED": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.rowscopied ",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"ROWSREAD": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.rowsread ",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"RUNID": {
													"value": null,
													"type": "String"
												},
												"SINK_TYPE": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.executiondetails[0].sink.type ",
														"type": "Expression"
													},
													"type": "String"
												},
												"SOURCE": {
													"value": {
														"value": "@item().tablename",
														"type": "Expression"
													},
													"type": "String"
												},
												"SOURCE_TYPE": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.executiondetails[0].source.type ",
														"type": "Expression"
													},
													"type": "String"
												},
												"TRIGGERID": {
													"value": {
														"value": "@pipeline().TriggerId ",
														"type": "Expression"
													},
													"type": "String"
												},
												"TRIGGERNAME": {
													"value": {
														"value": "@pipeline().TriggerName ",
														"type": "Expression"
													},
													"type": "String"
												},
												"TRIGGERTIME": {
													"value": {
														"value": "@pipeline().TriggerTime ",
														"type": "Expression"
													},
													"type": "String"
												},
												"TRIGGERTYPE": {
													"value": {
														"value": "@pipeline().TriggerType",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQLDBA_mini",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Stored procedure Failure",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data from SRC to TGT",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[PIPELINE_LOG_USP]",
											"storedProcedureParameters": {
												"COPYACTIVITY_END_TIME": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').ExecutionEndTime ",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"COPYACTIVITY_START_TIME": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').ExecutionStartTime ",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"COPYDURATION_IN_SECS": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.copyDuration",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"DATAFACTORY_NAME": {
													"value": {
														"value": "@pipeline().DataFactory ",
														"type": "Expression"
													},
													"type": "String"
												},
												"DESTINATION": {
													"value": {
														"value": "@item().blobcontainer ",
														"type": "Expression"
													},
													"type": "String"
												},
												"EFFECTIVEINTERGATIONRUNTIME": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.effectiveIntegrationRuntime ",
														"type": "Expression"
													},
													"type": "String"
												},
												"ERROR_MESSAGE": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').error ",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXECUTION_STATUS": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').status ",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXECUTION_STATUS_CODE": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').statuscode",
														"type": "Expression"
													},
													"type": "String"
												},
												"NO_PARALLELCOPIES": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.usedParallelCopies ",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"PIPELINENAME": {
													"value": {
														"value": "@pipeline().Pipeline ",
														"type": "Expression"
													},
													"type": "String"
												},
												"ROWSCOPIED": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.rowscopied ",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"ROWSREAD": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.rowsread ",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"RUNID": {
													"value": null,
													"type": "String"
												},
												"SINK_TYPE": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.executiondetails[0].sink.type ",
														"type": "Expression"
													},
													"type": "String"
												},
												"SOURCE": {
													"value": {
														"value": "@item().tablename",
														"type": "Expression"
													},
													"type": "String"
												},
												"SOURCE_TYPE": {
													"value": {
														"value": "@activity('Copy data from SRC to TGT').output.executiondetails[0].source.type ",
														"type": "Expression"
													},
													"type": "String"
												},
												"TRIGGERID": {
													"value": {
														"value": "@pipeline().TriggerId ",
														"type": "Expression"
													},
													"type": "String"
												},
												"TRIGGERNAME": {
													"value": {
														"value": "@pipeline().TriggerName ",
														"type": "Expression"
													},
													"type": "String"
												},
												"TRIGGERTIME": {
													"value": {
														"value": "@pipeline().TriggerTime ",
														"type": "Expression"
													},
													"type": "String"
												},
												"TRIGGERTYPE": {
													"value": {
														"value": "@pipeline().TriggerType",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_SQLDBA_mini",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-02-08T13:49:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}