pipeline/PL_two_files_dianamic_mapping.json
{
	"name": "PL_two_files_dianamic_mapping",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata bring file names",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Source",
						"type": "DatasetReference",
						"parameters": {
							"p_folder": "triggerdata",
							"container": "raw"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": null,
						"modifiedDatetimeEnd": null,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata bring file names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata bring file names').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data dynamic",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": null,
										"modifiedDatetimeEnd": null,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@if(contains(item().name,'sales'),pipeline().parameters.p_mapping1,pipeline().parameters.p_mapping2)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Source",
									"type": "DatasetReference",
									"parameters": {
										"p_folder": "triggerdata",
										"container": "raw"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Source",
									"type": "DatasetReference",
									"parameters": {
										"p_folder": "dianamic",
										"container": "silver"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_mapping2": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "ID",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "ID",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Type",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Type",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "SKU",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "SKU",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Published",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Published",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Is featured?",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Is featured?",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Visibility in catalog",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Visibility in catalog",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Short description",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Short description",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Description",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Description",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Date sale price starts",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Date sale price starts",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Date sale price ends",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Date sale price ends",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Tax status",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Tax status",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Tax class",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Tax class",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "In stock?",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "In stock?",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Stock",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Stock",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Backorders allowed?",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Backorders allowed?",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Sold individually?",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Sold individually?",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Weight (lbs)",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Weight (lbs)",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Length (in)",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Length (in)",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Width (in)",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Width (in)",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Height (in)",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Height (in)",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Allow customer reviews?",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Allow customer reviews?",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Purchase note",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Purchase note",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Sale price",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Sale price",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Regular price",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Regular price",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Categories",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Categories",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Tags",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Tags",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Shipping class",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Shipping class",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Images",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Images",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Download limit",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Download limit",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Download expiry days",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Download expiry days",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Parent",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Parent",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Grouped products",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Grouped products",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Upsells",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Upsells",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Cross-sells",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Cross-sells",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "External URL",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "External URL",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Button text",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Button text",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Position",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Position",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Attribute 1 name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Attribute 1 name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Attribute 1 value(s)",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Attribute 1 value(s)",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Attribute 1 visible",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Attribute 1 visible",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Attribute 1 global",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Attribute 1 global",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Attribute 2 name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Attribute 2 name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Attribute 2 value(s)",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Attribute 2 value(s)",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Attribute 2 visible",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Attribute 2 visible",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Attribute 2 global",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Attribute 2 global",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Meta: _wpcom_is_markdown",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Meta: _wpcom_is_markdown",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Download 1 name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Download 1 name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Download 1 URL",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Download 1 URL",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Download 2 name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Download 2 name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Download 2 URL",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Download 2 URL",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping1": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "ORDERNUMBER",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "ORDERNUMBER",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "QUANTITYORDERED",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "QUANTITYORDERED",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "PRICEEACH",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "PRICEEACH",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "ORDERLINENUMBER",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "ORDERLINENUMBER",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "SALES",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "SALES",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "ORDERDATE",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "ORDERDATE",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "STATUS",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "STATUS",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "QTR_ID",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "QTR_ID",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "MONTH_ID",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "MONTH_ID",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "YEAR_ID",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "YEAR_ID",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "PRODUCTLINE",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "PRODUCTLINE",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "MSRP",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "MSRP",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "PRODUCTCODE",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "PRODUCTCODE",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "CUSTOMERNAME",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "CUSTOMERNAME",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "PHONE",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "PHONE",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "ADDRESSLINE1",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "ADDRESSLINE1",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "ADDRESSLINE2",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "ADDRESSLINE2",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "CITY",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "CITY",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "STATE",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "STATE",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "POSTALCODE",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "POSTALCODE",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "COUNTRY",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "COUNTRY",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "TERRITORY",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "TERRITORY",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "CONTACTLASTNAME",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "CONTACTLASTNAME",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "CONTACTFIRSTNAME",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "CONTACTFIRSTNAME",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "DEALSIZE",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "DEALSIZE",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-12T20:19:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}