firstadf-1505/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "firstadf-1505"
		},
		"LS_ADLS_metadata_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_metadata'"
		},
		"LS_Config_Health_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_Config_Health'"
		},
		"LS_INPUT_DF_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_INPUT_DF'"
		},
		"LS_Multi_file_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Multi_file'"
		},
		"LS_Out_health_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Out_health'"
		},
		"LS_SINK_DATA_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SINK_DATA'"
		},
		"LS_SQLDBA_Dev_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLDBA_Dev'"
		},
		"LS_SQLDBA_SINK_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLDBA_SINK'"
		},
		"LS_SQLDBA_mini_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLDBA_mini'"
		},
		"LS_TGT_Cloud_Sqlserver_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_TGT_Cloud_Sqlserver'"
		},
		"LS_attach_file_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_attach_file'"
		},
		"LS_health_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_health'"
		},
		"LS_ADLS_metadata_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devjanbatchadlsgen2.dfs.core.windows.net/"
		},
		"LS_HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/"
		},
		"LS_Http_Movie_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseUrl}"
		},
		"LS_Http_Parameter_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseUrl}"
		},
		"LS_Http_Source_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().SourceBaseUrl}"
		},
		"LS_Http_Source_parameter_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseUrl}"
		},
		"LS_Multi_file_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devjanbatchadlsgen2.dfs.core.windows.net/"
		},
		"LS_Out_health_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devjanbatchadlsgen2.dfs.core.windows.net/"
		},
		"LS_PAramaeter_set_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseURL}"
		},
		"LS_SINK_DATA_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "jan-batch-sql-server.database.windows.net"
		},
		"LS_SINK_DATA_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dev-ss-test"
		},
		"LS_SINK_DATA_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_SQLDBA_Dev_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "jan-batch-sql-server.database.windows.net"
		},
		"LS_SQLDBA_Dev_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dev-ss-test"
		},
		"LS_SQLDBA_Dev_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_SQLDBA_SINK_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "jan-batch-sql-server.database.windows.net"
		},
		"LS_SQLDBA_SINK_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "jan-azure-db"
		},
		"LS_SQLDBA_SINK_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		},
		"LS_SQLDBA_mini_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "jan-batch-sql-server.database.windows.net"
		},
		"LS_SQLDBA_mini_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "jan-azure-db"
		},
		"LS_SQLDBA_mini_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminuser"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_KEYVAULT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "https://@{pipeline().parameters.p_keyvault_name}.vault.azure.net/secrets/@{pipeline().parameters.p_secret_info}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_value",
							"value": {
								"value": "@activity('Web1').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_keyvault_name": {
						"type": "string",
						"defaultValue": "srinikeyvault"
					},
					"p_secret_info": {
						"type": "string",
						"defaultValue": "adfdemo-secrets/35862fd3ae8e4177b0b2696a38ab720b?api-version=7.0"
					}
				},
				"variables": {
					"var_value": {
						"type": "String",
						"defaultValue": "123456"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-02-12T19:19:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_WAIT_ACTIVITY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-02-07T08:33:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_metadata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_metadata_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_metadata_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Config_Health')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_Config_Health_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Http_Movie')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseUrl": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_Http_Movie_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Http_Parameter')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseUrl": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_Http_Parameter_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Http_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"SourceBaseUrl": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_Http_Source_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Http_Source_parameter')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseUrl": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_Http_Source_parameter_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_INPUT_DF')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_INPUT_DF_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Multi_file')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Multi_file_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Multi_file_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Out_health')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Out_health_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Out_health_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_PAramaeter_set')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_PAramaeter_set_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SINK_DATA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SINK_DATA_properties_typeProperties_server')]",
					"database": "[parameters('LS_SINK_DATA_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SINK_DATA_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SINK_DATA_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDBA_Dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQLDBA_Dev_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLDBA_Dev_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLDBA_Dev_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLDBA_Dev_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDBA_SINK')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQLDBA_SINK_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLDBA_SINK_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLDBA_SINK_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLDBA_SINK_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLDBA_mini')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQLDBA_mini_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLDBA_mini_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLDBA_mini_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLDBA_mini_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_TGT_Cloud_Sqlserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LS_TGT_Cloud_Sqlserver_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_attach_file')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_attach_file_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_health')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_health_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}